<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add a TODO Item:</h1>
    <form action="add" method="POST">
        <!-- For security it is necessary to add the csrf_token -->
        {% csrf_token %}

        {{ form.as_p }}

        <!-- <div>
            <p>
                <label for="id_name">Name: </label>
                <input type="text" id="id_name" name="item_name" />
            </p>
        </div>
        <div>
            <p>
                <label for="id_done">Done: </label>
                <input type="checkbox" id="id_done" name="done" />
            </p>
        </div> 
        
        Instead of create the form manually we will implement 
        everything from django using the forms. -->

        <div>
            <button type="submit">Add Item</button>
        </div>

    </form>

</body>

</html>